<h1>Follower Users</h1>
<table>
  <% @followers.each do |user| %>
  <tr>
    <thead>
      <th>image</th>
      <th>name</th>
    </thead>
  </tr>
  <tr>
    <tbody>
      <% if user.icon.attached? %>
        <td><%= image_tag @users.get_profile_image, size:'50x50' %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      <% end %>
    </tbody>
  </tr>
  <% end %>
</table>